@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Thin.otf') format('opentype');
  font-weight: 300;
}
