@import url('./modules/common.css');

#app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  align-items: flex-start;
}

.firebase-btn {
  background-color: #f57c00;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}

.header {
  top: 30px;
  position: fixed;
  left: 0;
  width: 100%;
  text-align: right;
  padding-right: 30px;
  box-sizing: border-box;
}

.page__title {
  font-size: 25px;
  margin-bottom: 30px;
}

.page__subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.page__input {
  display: block;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #c1c1c1;
  padding: 10px 15px;
  font-size: 20px;
  margin-bottom: 20px;
}

.list {
  width: 979px;
  margin: 40px -10px 0;
}

.item {
  padding: 10px 20px;
  background: #fff3e0;
  border-radius: 4px;
  border: 1px solid #ffe0b2;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
}

.item__remove {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  font-size: 30px;
  cursor: pointer;
  color: #e65100;
}

.file-select {
  display: none;
}

.placeholder {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 3px dashed #b0bec5;
  margin-bottom: 20px;
  cursor: pointer;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4NWO61pCCzLTe6L0FXeVgkdT3bsHjnOVAAqo-0TA6UeG-eoLg);
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 20px;
}

.placeholder:hover {
  border: 3px dashed #90a4ae;
}

.placeholder__img {
  border-radius: 10px;
  max-width: 100%;
}

.msg {
  margin-bottom: 20px;
  min-height: 16px;
}

.list__item {
  width: 300px;
  height: 160px;
  object-fit: contain;
  border: 1px solid #b0bec5;
  background: #eceff1;
  margin: 10px;
}

.auth-btn {
  margin: auto;
  width: 270px;
  display: block;
  box-sizing: border-box;
  text-align: center;
}
